*{
    margin: 0;
    padding:0;
}

body{
    height:100vh;
    background-color: black;
}

.stock_table{
    color:white;
    height:50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

table{
    width: 500px;
}

.plus{
    color: red;
}

.minus{
    color:green
}

.edit_button{
    width: 200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: 100px;
}

button{
    width: 7em;
    height:2em;
}

#practice{
    color:white;
    text-align: center;
}