*{
    margin: 0;
    padding:0;
}

body{
    height:100vh;
    background-color: black;
}

.stock_table{
    color:white;
    width: 100vw;
    height:50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
}

.tableBlock{
    height: auto;
    margin:20px;
}

table{
    width: 500px;
    margin: 20px;
}

.plus{
    color: red;
}

.minus{
    color:green
}

#edit_button{
    width: 200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: 100px;
    /* margin:20px; */
    /* padding-top: 20px; */
}

#edit-box{
    padding:20px;
}

button{
    width: 7em;
    height:2em;
}

#practice{
    color:white;
    text-align: center;
}