<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stock.css">
    <link rel="icon" href="kabu.jpeg">
</head>

<body>
    <div class="stock_table">
        <div class="tableBlock">
            <table align="center" id="tbl" border="1">
                <tr>
                    <th>銘柄コード</th>
                    <th>銘柄</th>
                    <th>現在値</th>
                </tr>
                {% for stock in entered_string %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.price }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div id="edit-box">
            <form method="post">
                <label for="textarea">Enter the valid ticker:</label><br>
                <textarea id="textarea" name="textarea" rows="1" cols="20"></textarea><br>
                <button id="edit" type="sumbit" name="edit">編集</button>
                <button id="addition" type="submit" name="submit">追加</button>
                <button id="delete" type="submit" name="clear">削除</button>
            </form>
        </div>
    </div>

    <h1 id="practice">お気に入り銘柄</h1>
</body>
<!-- <script src="stock.js"></script> -->

</html>